<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049831226290-5r74ucsd63s5j0k8ul80pvmodho63mo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049831226290-5r74ucsd63s5j0k8ul80pvmodho63mo8</string>
	<key>API_KEY</key>
	<string>AIzaSyARN2Tw55X_ba5Hy10q9i50YE8NbH1lxoA</string>
	<key>GCM_SENDER_ID</key>
	<string>1049831226290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supremo.LAZYAIO</string>
	<key>PROJECT_ID</key>
	<string>lazyaio</string>
	<key>STORAGE_BUCKET</key>
	<string>lazyaio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049831226290:ios:074327454a6b17241dc2ab</string>
	<key>DATABASE_URL</key>
	<string>https://lazyaio.firebaseio.com</string>
</dict>
</plist>